.portfolio-sidebar-list-wrapper {
    .portfolio-item-thumb {
        padding: 21px;

        .portfolio-thumb-img img {
            width: 100%;
        }
    }

    .title-delete-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            color: $offwhite;
            font-size: 1.5em;
        }
        .actions {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            

            .action-icon {
                color: $offwhite;
                font-size: 1.5em;
                margin-left: 15px;
                transition: .1s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $warning;
                }
            }

    }

    }
}